<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon> &nbsp; {{pageTitle}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>

  <div *ngIf="post">
    <div class="post-content" [innerHtml]="post.content"></div>
  </div>

  <div *ngIf="loder" class="post-loader full-height">
    <ion-spinner></ion-spinner>
  </div>
  <div *ngIf="errorMsg">
    <div class="text-center">{{errorMsg}}</div>
  </div>

</ion-content>