<ion-header>
  <ion-toolbar>
    <div class="menu-header">
      <img class="custom-icon" (click)="openMenu()" src="assets/icons/menu.png" alt="menu">
      <img class="custom-icon logo" src="assets/logo/logo.png" alt="logo">
      <img class="custom-icon" src="assets/icons/search.png" alt="setting">
    </div>
  </ion-toolbar>


  <ion-segment [(ngModel)]="activeTabIndex" *ngIf="catPostList && catPostList.length > 0" scrollable>
    <ng-container *ngFor="let menuItem of catPostList; let i = index">
      <ion-segment-button (click)="slideTo(i)" [value]="i">
        {{menuItem.category.categoryName}}
      </ion-segment-button>
    </ng-container>
  </ion-segment>

</ion-header>

<ion-content>

  <div *ngIf="catPostList && catPostList.length > 0">
    <ion-slides #postSlider (ionSlideNextEnd)="onSlideNext()" (ionSlidePrevEnd)="onSlidePrev()">
      <ion-slide *ngFor="let menuSlide of catPostList">
        <ng-container *ngIf="menuSlide.loading ; then loading; else postLoaded"></ng-container>

        <ng-template #loading>
          <div class="post-loader">
            <ion-spinner></ion-spinner>
          </div>
        </ng-template>

        <ng-template #postLoaded>
          <article *ngIf="menuSlide.posts && menuSlide.posts.length; else postError" class="post-archive-wrap">
            <app-archive-post *ngFor="let p of menuSlide.posts" [post]="p"></app-archive-post>
          </article>
        </ng-template>
        <ng-template #postError>
          <div>
            Something went wrong . Try again later
          </div>
        </ng-template>

      </ion-slide>
    </ion-slides>
  </div>

</ion-content>