.post-loader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.full-height {
        min-height: 80vh;
    }
}

article.post-archive-wrap {
    max-height: 85vh;
    overflow: auto;
    height: 100%;
}