// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


@font-face {
    font-family: 'bhaji';
    src: url('assets/fonts/bahij_sultannahia/Bahij_SultanNahia-Regular.ttf')format('truetype');
    font-weight: normal;
}

$ff-bhaji : 'bhaji';

.text-right {
    text-align: right;
}

$textRed : #d33939;

.no-transform {
    transform: none !important;
}

.p-relative {
    position: relative !important;
}

.text-red {
    color: $textRed !important;
}

@mixin posttitle {
    font-family: $ff-bhaji !important;
    margin: 10px 0 0 0;
    font-size: 1.25rem;
    text-align: left;
    text-transform: uppercase;
    line-height: 25px;
    color: #212121;
}

@mixin meta-data($font-size, $color) {
    font-size: $font-size;
    color: $color;
}

.alert {
    font-size: 25px;
    padding: 7px;

    &.alert-danger {
        background-color: rgb(255, 131, 131);
    }
}

.lang-modal .modal-wrapper.modal-wrapper-md.sc-ion-modal-md {
    background: rgba(0, 0, 0, 0.8);
}

.custom-icon {
    width: 20px;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0px 5px;

    .custom-icon {
        cursor: pointer;
        width: 25px;
        padding: 5px;
        box-sizing: content-box;

        &.search-icon {
            width: 35px;
        }

        &.logo {
            width: 135px;
        }
    }


}

ion-label.maneu-label>span {
    display: inline-block;
    vertical-align: middle;
    padding: 0 12px 0 0;
}

.post-archive-wrap {
    .post-archive-single {
        box-shadow: 2px 2px 4px -1px #dedede;
        margin: 6px;
        position: relative;



        .post-thumbnail {
            width: 100%;
            background-position: center;
            background-size: cover;
            padding-top: 50%;
            position: relative;

            img {
                transform: none !important;
            }

            .share-icon {
                position: absolute;
                top: 70%;
                right: 10px;

                img {
                    width: 30px;
                }
            }
        }

        &.Videos {
            .post-data {
                overflow: auto;
            }

            .post-thumbnail {
                padding-top: 50%;
            }

            .share-icon {
                position: static;
                float: right;
                margin-right: 5px;
                margin-bottom: 5px;

                img {
                    width: 30px;
                }
            }

        }

        .post-title {
            @include posttitle();
        }

        .post-meta {
            .post-cat {
                margin-left: 5px;
                @include meta-data(0.75rem, #c3000b);
            }

            .post-date {
                @include meta-data(0.75rem, #262626);
            }
        }

    }




}

.single-post {
    text-align: left;

    .post-title {
        @include posttitle();
    }

    .post-content {
        @include meta-data(1rem, #212121);
    }

    .post-meta {
        margin: 10px 0;

        .post-author {
            @include meta-data(0.95rem, #c3000b);
            border-right: solid 2px gray;
            margin-right: 4px;
        }

        .post-date {
            @include meta-data(0.95rem, #262626);
        }

        .icons-action>span {
            display: inline-block;
            margin-left: 7px;

            img {
                display: inline-block;
                width: 30px;
            }
        }
    }
}

// related posts
.related-post {

    margin-bottom: 20px;

    .r-p-thumbnail {
        background-position: center;
        background-size: cover;
        padding-bottom: 50%;
    }

    .r-p-data {
        margin: -26px 20px 0px 20px;
        background-color: white;
        padding: 5px;
        box-shadow: 0 0 1px 1px rgba(128, 128, 128, 0.7);

        .r-p-title {
            margin: 0;
            font-size: 17px;
            text-transform: uppercase;
            font-family: $ff-bhaji;
        }
    }

}