<ion-header>
  <ion-toolbar>
    <div class="menu-header">
      <img class="custom-icon" (click)="openMenu()" src="assets/icons/menu.png" alt="menu">
      <img class="custom-icon logo" src="assets/logo/logo.png" alt="logo">
      <img class="custom-icon" src="assets/icons/search.png" alt="setting">
    </div>
  </ion-toolbar>


  <ion-segment *ngIf="menuCategories && menuCategories.length > 0" scrollable>
    <ion-segment-button  [routerLink]="['/home/archive', menuItem.categoryId]" *ngFor="let menuItem of menuCategories">
      {{menuItem.categoryName}}
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <router-outlet></router-outlet>
</ion-content>